/* .table-th {
    border: 2px solid black;
    padding: 3px 5px;
} */
table {
    border-collapse: collapse; /* Объединение границ для ячеек таблицы *//* это CSS-правило, которое указывает, что границы всех ячеек таблицы должны объединяться в одну границу. Это обеспечивает более симметричный и красивый вид границ таблицы. */
}

th, td {
    border: 2px solid black; /* Установка границы для всех ячеек таблицы */
    padding: 3px 5px; /* Установка отступов для всех ячеек таблицы *//* - это CSS-правило, которое применяет стили из класса .table-th ко всем ячейкам таблицы. Оно выбирает все элементы <th> (заголовки) и <td> (данные) внутри таблицы и устанавливает им границу и отступы, как описано в вашем классе .table-th. */
}
